<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../partials/stylesheet %>
</head>
<body>
    
    <% include ../partials/header %>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <br>
                <h4 class="text-muted">Videos</h4>
            </div>
            <div class="col-lg-6 col-xs-6">
                <br>
                <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#createVideo">
                    Upload
                </button>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="createVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form action="/videos" method="post" enctype="multipart/form-data">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title" id="myModalLabel">Upload a video file</h4>
                        </div>
                        <div class="modal-body">
                            <fieldset class="form-group">
                                <label  for="inputtitle">Title</label>
                                <input type="text" id="inputtitle" name="title" class="form-control" placeholder="Video Title" value="" required="">
                            </fieldset>                                                    
                                <label class="btn btn-primary" for="video">
                                        <input id="video" name="video" type="file" style="display:none" onChange="readFile(this)">
                                        Browse
                                    </label><br/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <hr>
        <div class="container">
            <div class="well well-sm">
                <strong>Display</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
                    </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                        class="glyphicon glyphicon-th"></span>Grid</a>
                </div>
            </div>
            
            <div id="products" class="row list-group">
                    <% videos.forEach(function(video){ %>
                <div class="item  col-xs-4 col-lg-4">
                    <div>
                        <video width="290" height="200" controls preload="auto" codecs="avc1.42E01E, mp4a.40.2">
                            <source src="<%= video.videoName %>" type="video/mp4" />
                        </video>
        
                        <div class="caption">
                            <br>
                                <h4 class="group inner list-group-item-heading"><%= video.title %></h4>
                        
                            <div class="row group inner list-group-item-text">
                                <div class="col-xs-4 col-md-4 custombutton">
                                    <a href="/videos/preview/<%= video.id %>">
                                        <button type="button" class="btn btn-secondary">Preview</button>
                                    </a>
                                </div>
                                <div class="col-xs-4 col-md-4">
                                    <form action="/videos/<%= video.id %>" method="POST" >
                                        <input type="hidden" id="videoId" name="videoId" value="<%= video.id%>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
            
        </div>
            



<!--         <div class="row">
            <% videos.forEach(function(video){ %>
                <div>
                    <div class="col-lg-8 col-md-8 col-xs-6">
                        <h5 class="list-group-item-heading"><%= video.title %></h5>
                    </div>

                    <div style="display:inline-block; padding-right:1.25em">
                        <a href="/videos/preview/<%= video.id %>">
                            <button type="button" class="btn btn-secondary pull-right">Preview</button>
                        </a>
                    </div>
                    <div style="display:inline-block">
                        <form action="/videos/<%= video.id %>" method="POST" >
                            <input type="hidden" id="videoId" name="videoId" value="<%= video.id%>">
                            <button type="submit" class="btn btn-danger pull-right">Delete</button>
                        </form>    
                    </div>
                   <hr>
                </div>
             
            <% }); %>
        </div> -->
        </div>
        <% include ../partials/footer %>
        <% include ../partials/javascript %>
    </body>
    </html>
