<!-- JS Scripts -->
<script src='/javascripts/jquery.min.js'></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script>

      function readFile(input) {
            
            if (input.files && input.files[0]) {
              let file = input.files[0];
              viewer.setProperties(file);
          }
        };

        var viewer = {
            setProperties: (file) => {
              $('#inputtitle').attr('value', file.name);
            }
        }

        $(document).ready(function() {
          $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
          $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
        });
</script>
</body>
</html>
